---
layout: default
title: "Home"
---
<blockquote class="tip">
  <h1>Welcome</h1>
  <p>Welcome to <em>DevOps Tips and Tricks</em>, this site is a collection of tips and tricks that <em>"try to"</em> cover the most loved DevOps platforms, <em>a.k.a.</em> <a href="https://dev.azure.com" target="_blank">Azure DevOps</a> and <a href="https://github.com" target="_blank">GitHub</a> 😊.</p>
  <p>The tips you'll find here are based on real-world scenarios that I've encountered (along with the community) while using <a href="https://dev.azure.com" target="_blank">Azure DevOps</a> and <a href="https://github.com" target="_blank">GitHub</a>.</p>
  <p><em>- Engin Polat</em></p>
</blockquote>
<h1 class="content-subhead">POSTS</h1>
{% for post in paginator.posts %}
<section class="post">
  <header>
    <a href="{{ root_url }}{{ post.url }}" class="post-link"><h2 class="post-title">{{ post.title }}</h2></a>
    <p class="post-meta">
      By
      <img class="post-avatar" src="/assets/authors/{{ post.author.alias }}.jpg">
      <a href="#" class="post-author">{{ post.author.name }}</a>
      @
      [<em>{{ post.date | date_to_long_string }}</em>]
      under
      {% for category in post.category %}
      <a class="post-category post-category-{{category}}" href="#">{{ category }}</a>
      {% endfor %}
    </p>
  </header>
  <div class="post-description">{{ post.content }}</div>
</section>
{% endfor %}
<ul class="pager">
{% if paginator.previous_page %}
  <li class="previous"><a href="{{ paginator.previous_page_path }}"><span aria-hidden="true">&laquo;</span> Next</a></li>
{% else %}
  <li class="previous disabled"><a><span aria-hidden="true">&laquo;</span> Next</a></li>
{% endif %}
  <li><span class="page_number">Page: {{ paginator.page }} / {{ paginator.total_pages }}</span></li>
{% if paginator.next_page %}
  <li class="next"><a href="{{ paginator.next_page_path }}">Previous <span aria-hidden="true">&raquo;</span></a></li>
{% else %}
  <li class="next disabled"><a>Previous <span aria-hidden="true">&raquo;</span></a></li>
{% endif %}
</ul>
