---
layout: compress
---
<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/logo.png" />
  <meta name="msapplication-TileColor" content="#86ab08" />
  <meta name="theme-color" content="#86ab08" />
  <title>{{ page.title }} @ {{ site.title }} - {{ site.tagline }}</title>
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
  <meta name="description" content="{{ page.title }}" />
  <meta name="author" content="{{ site.author.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="post-date" content="{{ page.date | date:"%Y-%m-%d" }}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
  <link rel="stylesheet" href="//unpkg.com/purecss@2.0.3/build/pure-min.css">
  <link rel="stylesheet" href="//unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
  <link rel="stylesheet" href="/assets/bundle.min.css?v20200520">
  <link rel="alternate" href="/rss.xml" type="application/rss+xml" title="RSS Feed">
  <meta property="og:image" content="/assets/logo.png" />
  <meta property="og:image:height" content="80" />
  <meta property="og:image:width" content="80" />
  <meta property="og:title" content="{{ site.author.name }}" />
  <meta property="og:description" content="{{ page.title }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
</head>
<body>
  <nav class="header-nav">
    <a href="/">Home</a>
    <a href="https://github.com/polatengin/devops.tips/issues">Issues</a>
    <a href="https://github.com/polatengin/devops.tips">GitHub Repo</a>
  </nav>
  <div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
      <h1 class="brand-title">{{ site.title }}</h1>
      <h2 class="brand-tagline">{{ site.tagline }}</h2>
    </div>
  </div>
  <div class="content pure-u-1 pure-u-md-3-4">{{ content }}</div>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
