---
layout: compress
---
<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/logo.png" />
  <meta name="msapplication-TileColor" content="#86ab08" />
  <meta name="theme-color" content="#86ab08" />
  <title>{{ page.title }} @ {{ site.title }} - {{ site.tagline }}</title>
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
  <meta name="description" content="{{ page.title }}" />
  <meta name="author" content="{{ site.author.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="post-date" content="{{ page.date | date:"%Y-%m-%d" }}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
  <link rel="stylesheet" href="//unpkg.com/purecss@2.0.3/build/pure-min.css">
  <link rel="stylesheet" href="//unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
  <link rel="stylesheet" href="/assets/bundle.min.css?v20200520">
  <meta property="og:image" content="/assets/logo.png" />
  <meta property="og:image:height" content="80" />
  <meta property="og:image:width" content="80" />
  <meta property="og:title" content="{{ site.author.name }}" />
  <meta property="og:description" content="{{ page.title }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
</head>
<body>
</body>
</html>
